<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <meta name="author" content="{{ config.author }}">
    <meta name="description" content="{{ config.description }}">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="javascript, html, html5, ecmascript, es6, frontend, web" /> 

    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:description" content="{{ config.description }}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="canonical" href="{{ config.domain }}">
    <link href="/favico.ico" rel="icon">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">

    <!-- Facebook Tags -->
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:image" content="http://jaydson.org/images/logo-jaydson-gray.png">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://jaydson.org">
</head>